/*formatage des éléments communs à toutes les pages*/

body{
    width: 100vw%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: #420039;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 100vw;
    height: auto;
    background-color: #f8dcdc;
}

footer{
    width: 100vw;
    height: auto;
    background-color: #f8dcdc;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 75px 1fr 1fr 1fr;
    grid-template-areas:
    "facebook instagram whatsapp"
    "Adresse Adresse Adresse"
    "ml ml ml"
    "copyright  copyright copyright";
    justify-content: center;
    align-items: center;
}

.fb{
    grid-area: facebook;
}

.ig{
    grid-area: instagram;
}

.wh{
    grid-area: whatsapp;
}

footer>address{
    grid-area: Adresse;

}

footer>p{
    grid-area: copyright;
}

footer>a{
    grid-area: ml;
}

h2{
    text-align: center;
}

h1{
    text-align: center;
}

/* Mise en place burger menu pour version mobile*/

nav{
    background-color: #ffffff;
}

.menu{
    display: none;
}

.menu-checkbox:checked ~ .menu {
    display: block;
}

.menu-checkbox {
	opacity: 0;
	position: absolute;
	top: -1000px;
}

.menu-checkbox:focus + .menu-toggle {
    outline: #00A1A1 auto 5px;
}

.menu-toggle {
   display: flex;
   align-self: center;
   justify-self: center;
   font-size: 3rem;
}

.nav-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

li>a{
 text-decoration: none;
 padding: 10px;
 margin-right: auto;
 margin-left: auto;
 display:block

}

ul.menu{
    list-style-type: none;
    margin: 0%;
    padding:0%
}

/*formatage page d'Accueil*/

div.allsetion{
    display:grid;
    grid-template-columns: 90vw;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
    "presentation"
    "action"
    "aide"
    "contact";
    align-content: center;
    padding:10px;
}

section.presentation{
    grid-area: presentation;
}

section.action{
    grid-area: action;
}

section.aide{
    grid-area: aide;
}

section.contact{
    grid-area: contact;
    text-align: center;
}

section{
    padding-right: 20px;
    padding-left: 20px;
    text-align:center;

}

section.card{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "titre"
    "img"
    "article"
    "quand";
    border: solid 3px;
    border-color: #420039;
    border-radius: 30px;
    margin: 20px;
    padding: 0px;
    text-align: center;
    color: #240039;
    box-shadow: 10px 5px 10px #24003938;
    
}

section.card>img{
    grid-area: img;
    object-fit: cover;
    max-width: 100%;
    
}

section.card>h2{
    grid-area: titre;
    width: 90%;
    height: 50 px;
    padding-right: 10px;
    padding-left: 10px;
    
}

section.card>p{
    grid-area: article;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

}

section.card>div.footercard{
    grid-area: quand;
    font-weight: bolder;
    width: 100%;
    height: 50px;
    display: flex;
   justify-content: center;
   align-items: center;
   border-top: solid #240039;
}

/*Mise en forme du Formulaire de contact*/

form{
    width: 65vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid 3px;
    border-color: #420039;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    color: #240039;
    box-shadow: 10px 5px 10px #24003938;
    background-color: #f8dcdc;
}

select{
    color: #240039;
    background-color: #f8dcdc, white;
    
}

div.objet{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2,auto);
    align-items: center;
    justify-content: center;
}

div.name{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2,auto);
    align-items: center;
    justify-content: center;
}

div.email{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2,auto);
    align-items: center;
    justify-content: center;
}

div.text{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2,auto);
    align-items: center;
    justify-content: center;
}






